<ion-header>

  <ion-navbar>
    <ion-title>Editar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="form" (ngSubmit)="save(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text"  [(ngModel)]="dados.nomeProf"  formControlName="nomeProf"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.nomeProf.valid && (form.controls.nomeProf.dirty || form.controls.nomeProf.touched)" color="danger">
      <div [hidden]="!form.controls.nomeProf.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>
 
    <ion-item>
      <ion-label stacked>Rg</ion-label>
      <ion-input type="text" [(ngModel)]="dados.rgProf" formControlName="rgProf"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.rgProf.valid && (form.controls.rgProf.dirty || form.controls.rgProf.touched)" color="danger">
      <div [hidden]="!form.controls.rgProf.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Data Nascimento</ion-label>
      <ion-input type="date" displayFormat="DD/MM/YYYY" [(ngModel)]="dados.dataNascProf" formControlName="dataNascProf"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.dataNascProf.valid && (form.controls.dataNascProf.dirty || form.controls.dataNascProf.touched)" color="danger">
      <div [hidden]="!form.controls.dataNascProf.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-icon name="image" item-start></ion-icon>
      <input type="file" accept="image/*" (change)="onPhoto($event)">
    </ion-item>

    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="save()">Salvar</button>
    </div>
    
  </form>



</ion-content>
