<ion-header>

  <ion-navbar>
    <ion-title>Aluno</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.name.valid && (form.controls.name.dirty || form.controls.name.touched)" color="danger">
      <div [hidden]="!form.controls.name.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>
 
    <ion-item>
      <ion-label stacked>RA</ion-label>
      <ion-input type="text" formControlName="ra"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.ra.valid && (form.controls.ra.dirty || form.controls.ra.touched)" color="danger">
      <div [hidden]="!form.controls.ra.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Data Nascimento</ion-label>
      <ion-input type="date" formControlName="dtNascimento"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.dtNascimento.valid && (form.controls.dtNascimento.dirty || form.controls.dtNascimento.touched)" color="danger">
      <div [hidden]="!form.controls.dtNascimento.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>E-Mail</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.email.valid && (form.controls.email.dirty || form.controls.email.touched)" color="danger">
      <div [hidden]="!form.controls.email.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>
 
    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
    </div>
  </form>

</ion-content>
