<ion-header>

  <ion-navbar>
    <ion-title>Professor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="form" (ngSubmit)="onSubmit(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text"  [(ngModel)]="dados.nomeProf"  formControlName="name"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.name.valid && (form.controls.name.dirty || form.controls.name.touched)" color="danger">
      <div [hidden]="!form.controls.name.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>
 
    <ion-item>
      <ion-label stacked>Rg</ion-label>
      <ion-input type="text" [(ngModel)]="dados.rgProf" formControlName="rg"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.rg.valid && (form.controls.rg.dirty || form.controls.rg.touched)" color="danger">
      <div [hidden]="!form.controls.rg.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Data Nascimento</ion-label>
      <ion-input type="text" displayFormat="DD/MM/YYYY" [(ngModel)]="dados.dataNascProf" formControlName="dtNascimento"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.dtNascimento.valid && (form.controls.dtNascimento.dirty || form.controls.dtNascimento.touched)" color="danger">
      <div [hidden]="!form.controls.dtNascimento.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>E-Mail</ion-label>
      <ion-input type="email" [(ngModel)]="dados.emailProf"  formControlName="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.email.valid && (form.controls.email.dirty || form.controls.email.touched)" color="danger">
      <div [hidden]="!form.controls.email.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="dados.senhaProf"  formControlName="senha"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.senha.valid && (form.controls.senha.dirty || form.controls.senha.touched)" color="danger">
      <div [hidden]="!form.controls.senha.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>
 
    <ion-item>
      <ion-icon name="image" item-start></ion-icon>
      <input type="file" accept="image/*" (change)="onPhoto($event)">
    </ion-item>

    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
    </div>
    
  </form>



</ion-content>
