<ion-header>

  <ion-navbar>
    <ion-title>Professor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="form" (ngSubmit)="onSubmit(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.name.valid && (form.controls.name.dirty || form.controls.name.touched)" color="danger">
      <div [hidden]="!form.controls.name.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>
 
    <ion-item>
      <ion-label stacked>Cpf</ion-label>
      <ion-input type="text" formControlName="cpf"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.cpf.valid && (form.controls.cpf.dirty || form.controls.cpf.touched)" color="danger">
      <div [hidden]="!form.controls.cpf.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Data Nascimento</ion-label>
      <ion-input type="date" formControlName="dtNascimento"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.dtNascimento.valid && (form.controls.dtNascimento.dirty || form.controls.dtNascimento.touched)" color="danger">
      <div [hidden]="!form.controls.dtNascimento.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>E-Mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.email.valid && (form.controls.email.dirty || form.controls.email.touched)" color="danger">
      <div [hidden]="!form.controls.email.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input type="password" formControlName="senha"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.senha.valid && (form.controls.senha.dirty || form.controls.senha.touched)" color="danger">
      <div [hidden]="!form.controls.senha.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>
 
    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
    </div>
  </form>

</ion-content>
